<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhairaviwellbeing.chaugadi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appsoe"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.bhairaviwellbeing.chaugadi.RoomSetupActivity"></activity>
        <activity android:name="com.bhairaviwellbeing.chaugadi.TestActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.ForgetPasswordActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.GameActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.MainActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.RegisterActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.LoginActivity" />
        <activity android:name="com.bhairaviwellbeing.chaugadi.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>